# Credenciais de Autenticação do Bot
BOT_EMAIL=seu_email@dominio.com
BOT_PASS=sua_senha
FRANCHISE_CODE=seu_codigo

# Configurações de Banco de Dados
DB_HOST=seu_ip
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_NAME=seu_banco

# Segurança e Criptografia
LGPD_SALT=chave_aleatoria

# Caminhos e Outros (Opcional)
CHROME_DRIVER_PATH=
MODEL_SAVE_PATH=./04_SnakeIA/models/
