# Automação e Web
selenium
websockets
requests

# Inteligência Artificial e Dados
tensorflow>=2.10.0
numpy
pandas

# Interface e Sistema
customtkinter
python-dotenv
mysql-connector-python

# Utilitários
logging
