# ===== DATABASE =====
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=aros_nova

# ===== MIGRATION SOURCE =====
MDB_PATH=\\192.168.2.214\mis\--BASE DADOS--\Conv_SQL\base.mdb
TABLE_NAME=minha_tabela

# ===== PERFORMANCE =====
BATCH_SIZE=1000